.widget {
    margin: 0.5em 1em;

    // Make sure select elements fit in widgets.
    select {
        max-width: 100%;
    }

    ul {
        padding: 0;
    }

    ul li {
        opacity: 1 !important;
    }

    li.active a,
    form input,
    form button,
    fieldset label,
    li a {
        padding: 1rem;
        text-decoration: none;
        font-size: 0.85em;
        @include border("bottom");
        text-transform: uppercase;
    }
    form input#s {
        padding: 1rem 0;
    }
    fieldset label:hover,
    li.active a,
    li a:hover {
        color: var(--hover-color);
        border-color: var(--hover-color);
    }
}

.widget_night_mode fieldset {
    display: inline-flex;
    align-items: center;
}
