.widget {
    margin: 1em 0;

    // Make sure select elements fit in widgets.
    select {
        max-width: 100%;
    }

    ul {
        padding: 0;
    }
    
    li.active a,
    li a {
        padding: 0.25em;
        text-decoration: none;
        @include border('bottom');
    }
    li.active a,
    li a:hover {
        color: var(--hover-color);
        border-color: var(--hover-color);
        
    }
}
