body.light {
  &,
  & #loader div.overlay {
    color: $dark_base;
    background: url(build/img/handmadepaper.png);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1), rgba(180, 180, 180, 0.1) 75%),
      url(build/img/handmadepaper.png);
    svg.spinner g path {
      stroke: #333;
    }
  }
  .site-header .row .main-navigation.toggled {
    background: #fff;
  }
  @include breakpoint(phone) {
    .site-header .row .main-navigation ul.menu li {
      border-color: lighten($dark_base, 65%);
      a::after {
        color: lighten($dark_base, 65%);
      }
    }
  }
  .menu-toggle .menu-icon,
  .menu-toggle .menu-icon::after,
  .menu-toggle .menu-icon::before {
    background: #333;
  }
  hr,
  blockquote {
    color: $black;
    border-color: $black;
  }
  .tnp-widget .tnp-field-button input.tnp-submit,
  .language-chooser a,
  input.search-submit,
  a.button,
  button.button {
    color: #333;
    border: $black_border;
    &:hover,
    &:active,
    &:focus,
    &.active {
      color: $base_color;
    }
  }
  form {
    textarea,
    input[type="text"],
    input[type="search"],
    .tnp-field.tnp-field-email input[type="email"].tnp-email {
      border: $black_border;
      background-color: $base_color;
      color: #333;
    }
    textarea:focus,
    input[type="text"]:focus,
    input[type="text"].focus,
    input[type="search"]:focus,
    .tnp-field.tnp-field-email input[type="email"].tnp-email:focus {
      box-shadow: inset 0 0 0.4em transparentize(darken($base_color, 4%), 0.8);
      background-color: darken($base_color, 1%);
    }
    @include breakpoint(laptop) {
      .widget_newsletterwidget {
        border: $black_border;
      }
    }
    .top-bar .widget_search form,
    .widget_newsletterwidget .tnp-widget form {
      label input[type="search"],
      input[type="submit"] {
        border: $black_border;
      }
    }
  }
  header nav ul.menu li a,
  .language-chooser-item a,
  .site-branding .site-title a {
    border-color: #333;
    color: #444;
  }
  header.site-header .wrapper {
    border-bottom: $black_border;
  }
  footer.site-footer .wrapper {
    border-top: $black_border;
  }
  .event-on-home {
    background: $base_color;
    border: $black_border;
  }
  .project-summary,
  .events-list--event {
    background-color: $base_color;
    transition: background-color 0.15s ease-out;
  }
  &.single-project,
  &.single-event {
    @include breakpoint(phone) {
      .social-sharing-module.laptop {
        display: none;
      }
      .social-sharing-module.mobile {
        border-top: $black_border;
      }
      .project-text.filled .column:first-child,
      .event-text.filled .column:first-child {
        border-bottom: $black_border;
      }
    }
    @include breakpoint(laptop) {
      .social-sharing-module,
      .event-text.filled .column .place,
      .project-text.filled .column .cartel {
        border-top: $black_border;
      }
      .event-text.filled.no-project .column .date,
      .project-text.filled.no-event .column .cartel {
        border-bottom: $black_border;
      }
      .event-text.filled .column .related-projects,
      .project-text.filled .column .related-events {
        border-bottom: $black_border;
      }
    }
  }
  #events-list .ac-container .event-year-section h3.year::after {
    border: $black_border;
    background-color: $base_color;
  }
  #events-list .ac-container .event-year-section .yearEventsList {
    border-left: $black_border;
  }
  .row.page-section div.column {
    border-top: $black_border;
  }
  .mode-switcher svg.icon {
    fill: $dark_base;
  }
  label.switch .slider {
    background-color: lighten($dark_base, 50%);
  }
  label.switch .slider::before {
    background-color: $base_color;
  }
}

body.dark {
  &,
  & #loader div.overlay {
    color: #fefefe;
    background: #222;
    background: url(build/img/handmadepaper.png);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.1) 75%), url(build/img/zwartevilt.png);

    svg.spinner g path {
      stroke: #fff;
    }
  }
  .site-header .row .main-navigation.toggled {
    background: #333;
  }

  .menu-toggle .menu-icon,
  .menu-toggle .menu-icon::after,
  .menu-toggle .menu-icon::before {
    background: #fff;
  }
  @include breakpoint(phone) {
    .site-header .row .main-navigation ul.menu li {
      border-color: darken($base_color, 65%);
      a::after {
        color: darken($base_color, 65%);
      }
    }
  }
  hr,
  blockquote {
    color: $white;
    border-color: $white;
  }
  .tnp-widget .tnp-field-button input.tnp-submit,
  .language-chooser a,
  input.search-submit,
  a.button,
  button.button {
    color: #fff;
    border: $white_border;
  }

  form {
    textarea,
    input[type="text"],
    input[type="search"],
    .tnp-field.tnp-field-email input[type="email"].tnp-email {
      color: #fff;
      border: $white_border;
      background-color: darken($dark_base, 12%);
    }
    textarea:focus,
    input[type="text"]:focus,
    input[type="text"].focus,
    input[type="search"]:focus,
    .tnp-field.tnp-field-email input[type="email"].tnp-email:focus {
      box-shadow: inset 0 0 0.4em transparentize(darken($dark_base, 4%), 0.8);
      background-color: darken($dark_base, 5%);
    }
    @include breakpoint(laptop) {
      .widget_newsletterwidget {
        border: $white_border;
      }
    }
    .top-bar .widget_search form,
    .widget_newsletterwidget .tnp-widget form {
      label input[type="search"],
      input[type="submit"] {
        border: $white_border;
      }
    }
  }
  header nav ul.menu li a,
  .language-chooser-item a,
  .site-branding .site-title a {
    border-color: #fefefe;
    color: #f1f1f1;
  }
  header.site-header .wrapper {
    border-bottom: $white_border;
  }
  footer.site-footer .wrapper {
    border-top: $white_border;
  }
  .event-on-home {
    background: $dark_base;
    border: $white_border;
  }
  .project-summary,
  .events-list--event {
    background-color: $dark_base;
    transition: background-color 0.15s ease-out;
  }
  &.single-project,
  &.single-event {
    @include breakpoint(phone) {
      .social-sharing-module.laptop {
        display: none;
      }
      .social-sharing-module.mobile {
        border-top: $white_border;
      }
      .project-text.filled .column:first-child,
      .event-text.filled .column:first-child {
        border-bottom: $white_border;
      }
    }
    @include breakpoint(laptop) {
      .social-sharing-module,
      .event-text.filled .column .place,
      .project-text.filled .column .cartel {
        border-top: $white_border;
      }
      .event-text.filled.no-project .column .date,
      .project-text.filled.no-event .column .cartel {
        border-bottom: $white_border;
      }
      .event-text.filled .column .related-projects,
      .project-text.filled .column .related-events {
        border-bottom: $white_border;
      }
    }
  }
  #events-list .ac-container .event-year-section h3.year::after {
    border: $white_border;
    background-color: darken($dark_base, 15%);
  }
  #events-list .ac-container .event-year-section .yearEventsList {
    border-left: $white_border;
  }
  .row.page-section div.column {
    border-top: $white_border;
  }
  .mode-switcher svg.icon {
    fill: $base_color;
  }
  label.switch .slider {
    background-color: darken($base_color, 50%);
  }
  label.switch .slider::before {
    background-color: $dark_base;
  }
}
body.light,
body.dark {
  .tnp-widget .tnp-field-button input.tnp-submit:hover,
  .language-chooser a:hover,
  input.search-submit:hover,
  a.button:hover,
  button.button:hover,
  button.button.active,
  button.button.focus {
    border-color: $accent_color;
  }
  form {
    textarea:focus,
    input[type="text"]:focus,
    input[type="search"]:focus,
    .tnp-field.tnp-field-email input[type="email"].tnp-email:focus {
      border-bottom: 2px solid $accent_color;
    }
  }
}
