.site-content {
    z-index: 1;
}
.entry-content {
    padding-bottom: 1rem;
}
.entry-content::after {
    display: table;
    clear: both;
    float: none;
}
.project-summary,
.events-list--event {
    position: relative;
    height: auto;
    margin-bottom: 3em;
    line-height: 0;
}

.project-summary .project-cover {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
    text-decoration: none;
    overflow: hidden;

    img {
        float: right;
        max-width: 100%;
        width: 100%;
        height: auto;
        transition: all 0.3s;
    }
}
.project-summary .project-cover:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 99;

    transition: background-color 0.15s ease-in, border-width 0.5s ease-out;
}
.project-summary .project-cover:hover img {
    transform: scale(1.1);
}
.project-summary .project-cover:hover::before {
    background: transparentize($accent_color, 0.75);
    background: linear-gradient(
        to right,
        transparentize($accent_color, 0.75),
        transparentize(complement($accent_color), 0.75)
    );
}

.project-summary,
.events-list--event,
.event-on-home {
    align-items: center;

    @include breakpoint(phone) {
        flex-direction: column;
    }
    @include breakpoint(laptop) {
        flex-direction: row;
    }
}

.event-on-home {
    position: relative;
    display: flex;

    width: 100%;
    padding: 2rem;
}

.event-on-home .column {
    padding: 0 1em;
}
.project-summary,
.event-info,
.event-on-home {
    .project-title,
    .event-title {
        margin-bottom: 1rem;
    }
}
.project-summary .column.cartel,
.events-list--event .column.event-info,
.event-on-home .column.col-map {
    @include breakpoint(phone) {
        padding-top: 0.5em;
    }

    .wrapper {
        width: 80%;
        height: 60%;
        margin: auto 0 auto 10%;
    }
}
.column.col-map {
    position: relative;
}
.page-template-events-php .map-overlay .map {
    max-width: 100%;
}
@include breakpoint(phone) {
    .col-map .map-overlay {
        display: block;
        width: 100%;
        height: 350px;
    }
}
@include breakpoint(phone) {
    .col-map .map-overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.map {
    min-height: 100%;
    img {
        max-height: none;
    }
}
/*
.project-summary .column.cartel .wrapper .description {
  @include breakpoint( laptop ) {  max-width: 75%; }
}
*/
.alignleft {
    float: left;
    margin-right: 1em;
}
.alignright {
    float: right;
    margin-left: 1em;
}
.project-title {
    font-style: italic;
}
h4.project-title {
    margin-bottom: 0;
}

.project-summary .column.cartel .wrapper .description,
.events-list--event .event-info.column .wrapper p.date,
.event-on-home .event-info p.date {
    display: block;
    margin-bottom: 1em * $ratio;
}
.column img.attachment-full {
    @include breakpoint(phone) {
        max-width: 110%;
        margin: 0 -5%;
    }
    @include breakpoint(laptop) {
        max-width: 100%;
        margin: 0;
        float: left;
    }

    height: auto;
}

//Single project & single event
.single-project #main .entry-content > .attachment-full,
.single-event #main .event div.row {
    padding-bottom: 2em;
    max-width: 100%;
    height: auto;
}
.single-project #main .entry-content > .plyr {
    margin-bottom: 2em;
}

.single-project,
.single-event {
    .map-overlay {
        @include breakpoint(phone) {
            padding-bottom: 2em;
        }
    }
    .row {
        align-items: flex-start;
    }

    .project-text .fluidbox {
        display: inline-block;
        //float: left;
        margin: 0.5em 0;

        &:hover .fluidbox__ghost {
            background-color: transparentize($accent_color, 0.65);
        }
    }
    @include breakpoint(phone) {
        .social-sharing-module.laptop {
            display: none;
        }
        .social-sharing-module.mobile {
            margin-top: 1rem;
            padding-top: 2rem;
        }
    }
    @include breakpoint(laptop) {
        .row {
            align-items: stretch;
        }
        .social-sharing-module,
        .event-text.filled .column .place,
        .project-text.filled .column .cartel {
            padding-top: 1.55em;
        }
        .event-text.filled.no-project .column .date,
        .project-text.filled.no-event .column .cartel {
            padding-bottom: 1.55em;
        }
        .event-text.filled .column .related-projects,
        .project-text.filled .column .related-events {
            padding-bottom: 1.55em;
        }
        .social-sharing-module.mobile {
            display: none;
        }
        .social-sharing-module.laptop {
            display: block;
        }
    }
    .project-text.filled .column:first-child,
    .event-text.filled .column:first-child {
        @include breakpoint(phone) {
            padding: 0 0 1rem 0;
            margin: 0 0 2em 0;
        }
        @include breakpoint(laptop) {
            padding: 0 2rem 1rem 0;
            margin: 0 0 2em 0;
        }
    }
    .row .column:last-child {
        min-height: 20rem;
    }
}

.event-menu {
    @include breakpoint(phone) {
        display: block;
        float: none;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-bottom: 2em;
    }
    @include breakpoint(laptop) {
        display: inline;
        float: right;
        margin-top: -7em;
        margin-bottom: 1em;
    }
    button:first-child {
        border-left-width: 1px;
    }
    button:last-child {
        border-right-width: 1px;
    }
    text-align: right;
}

#events-list .ac-container .event-year-section {
    h3.year {
        position: relative;
        line-height: 1;
        text-indent: 0.3em;
        margin: 0;
        padding: 0;
        height: 0;

        @include breakpoint(phone) {
            width: 5%;
        }
        @include breakpoint(laptop) {
            width: 12%;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 0.3em;
            height: 0.3em;
            top: 0.4em;
            margin-left: -0.15em;
            border-radius: 50%;
            z-index: 11;
        }
    }
    .yearEventsList {
        display: block;
        position: relative;
        margin-bottom: -0.5rem;
        padding-top: 6em;
        @include breakpoint(phone) {
            padding-left: 5%;
            width: 100%;
        }
        @include breakpoint(laptop) {
            padding-left: 12%;
        }
        padding-bottom: 2em;

        border-left: 2px solid lighten($accent_color, 40%);
        list-style-type: none;
        z-index: 10;

        .thumbnail img {
            @include breakpoint(phone) {
                display: block;
                width: inherit;
                margin: 0 auto;
            }
            @include breakpoint(laptop) {
                display: inline;
                width: 100%;
                margin: 0;
            }
        }
    }
}
.event-year-section,
section.ac-container {
    clear: both;
    float: none;
    padding-bottom: 2em;
}

main::before,
main::after {
    clear: both;
    display: table;
    content: '';
}
.error-404 {
    margin-top: 3em;
    text-align: center;

    .center {
        padding-bottom: 3em;
    }
    .legend {
        text-transform: capitalize;
        animation: shake 1s infinite;
        animation-direction: alternate;
    }
}
@keyframes shake {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.2);
    }
}
.entry-content .row.page-section {
    margin-bottom: 2rem;
    > div.column:first-child {
        border-width: 0;
        margin: 0 0 1rem 0;
    }
    > div.column:last-child {
        padding: 1.4rem 0 0 0;
    }
    @include breakpoint(laptop) {
        > div.column:first-child {
            padding-right: 2rem;
            margin: 0 1rem 0 0;
            border-width: 2px;
        }
        > div.column:last-child {
            margin: 0 0 0 1rem;
            border-width: 2px;
        }
        div.column {
            padding-top: 1.5rem;
        }
    }
}
body.page-template-gif-page main#main .row {
    margin: 1em;
    flex-wrap: wrap;
}
body.page-template-gif-page main#main .row article {
    position: relative;
    padding: 1em;
    width: fit-content;
    text-align: center;
}

body.page-template-gif-page main#main .row article a {
    display: block;
    border-radius: 2px;
    transition: all ease-in-out 0.15s;
}
body.page-template-gif-page main#main .row article a:hover {
    background: transparentize($accent_color, 0.15);
}

body.page-template-gif-page
    main#main
    .row
    article
    a.fluidbox--closed
    .fluidbox__wrap::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border: 48px solid rgba(0, 0, 0, 0);
    margin: -48px 0 0 -24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: $accent_color;
    z-index: 9;
    transition: all ease-in-out 0.15s;
}

body.page-template-gif-page
    main#main
    .row
    article
    a.fluidbox--closed
    .fluidbox__wrap:hover::before {
    border-left: 48px solid transparentize($accent_color, 0.15);
}

body.page-template-gif-page main#main .row article a img {
    display: block;
    border: 12px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    overflow: hidden;
}
body.page-template-gif-page main#main .row article .gif-source.hidden {
    display: block;
    width: 1px;
    height: 1px;
    visibility: hidden;
    overflow: hidden;
}
