// =============================================================================
// GRID PROPERTIES
// =============================================================================

$ratio: 1.618;
$col_num: 12;
$col_ratio: 1;

.row {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    &::before,
    &::after {
        content: '';
        clear: both;
        float: none;
    }
}

@for $i from 1 through $col_num {
    .col-#{$i} {
        @include breakpoint(phone) {
            flex-basis: 100%;
        }
        @include breakpoint(tablet) {
            flex-basis: 100%;
        }
        @include breakpoint(laptop) {
            $width: ((100% / $ratio) / $col_num) * $i;
            // regular column width
            // $width: ( 100% / $col_num ) * $i;

            flex: #{$i};
            flex-basis: $width;
            width: $width;
        }
        width: auto;
    }
}
[class*='col-'] {
    position: relative;
}

.column img {
    max-width: 100%;
    height: auto;
}

.clearfix {
    @include clearfix;
}
