header.site-header .wrapper {
    display: flex;

    @include breakpoint(xs) {
        flex-flow: column nowrap;
    }

    @include breakpoint(md) {
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;

        div.site-branding {
            flex: 0 0 auto;
            text-align: center;
            .site-title a span {
                display: block;
            }
        }
        nav.main-navigation {
            flex: 2 0 auto;
        }
    }
}
