html[data-theme='light'] {
    body,
    body #loader div.overlay,
    .site-header .row .main-navigation.toggled {
        color: $black_text;
        background-image: linear-gradient(
                to bottom,
                rgba(255, 238, 238, 0.5),
                rgba(255, 238, 238, 0.75)
            ),
            url(build/img/dust.png);
    }
    body #loader div.overlay svg.spinner g .path {
        stroke: $black_text;
    }

    @include breakpoint(phone) {
        .site-header .row .main-navigation ul.menu li {
            border-color: lighten($dark_base, 65%);
            a::after {
                color: lighten($dark_base, 65%);
            }
        }
    }
    .menu-toggle .menu-icon,
    .menu-toggle .menu-icon::after,
    .menu-toggle .menu-icon::before {
        background: $black_text;
    }
    blockquote,
    hr {
        border-color: $black_text;
    }

    .tnp-widget .tnp-field-button input.tnp-submit,
    .language-chooser-item a,
    button.search-submit,
    a.button,
    .page-numbers,
    button.button {
        color: $black_text;
        border-color: $black_text;
        &:hover,
        &:active,
        &:focus,
        &.active {
            color: $base_color;
        }
    }
    form {
        textarea,
        input[type='text'],
        input[type='search'],
        .tnp-field.tnp-field-email input[type='email'].tnp-email {
            border: $black_border;
            background-color: $base_color;
            color: $black_text;
        }
        textarea:focus,
        input[type='text']:focus,
        input[type='text'].focus,
        input[type='search']:focus,
        .tnp-field.tnp-field-email input[type='email'].tnp-email:focus {
            box-shadow: inset 0 0 0.4em
                transparentize(darken($base_color, 4%), 0.8);
            background-color: darken($base_color, 1%);
        }
        @include breakpoint(laptop) {
            .widget_newsletterwidget {
                border: $black_border;
            }
        }
        .top-bar .widget_search form,
        .widget_newsletterwidget .tnp-widget form {
            label input[type='search'],
            input[type='submit'] {
                border: $black_border;
            }
        }
    }
    header nav ul.menu li a,
    .language-chooser-item-item a,
    .site-branding .site-title a {
        border-color: $black_text;
        color: $black_text;
    }
    header.site-header .wrapper {
        border-bottom: $black_border;
    }
    @include breakpoint(laptop) {
        article > .entry-header,
        #main > .entry-header {
            border-bottom: $black_border;
        }
    }

    footer.site-footer .wrapper {
        border-top: $black_border;
    }
    .project-title a:hover {
        border-bottom: 1px dotted $black_text;
    }
    .project-summary,
    .events-list--event {
        background-color: $base_color;
        transition: background-color 0.15s ease-out;
    }
    body.single-project,
    body.single-event {
        @include breakpoint(phone) {
            .social-sharing-module.laptop {
                display: none;
            }
            .social-sharing-module.mobile {
                border-top: $black_border;
            }
            .project-text.filled .column:first-child,
            .event-text.filled .column:first-child {
                border-bottom: $black_border;
            }
        }
        @include breakpoint(laptop) {
            .social-sharing-module,
            .event-text.filled .column .place,
            .project-text.filled .column .cartel {
                border-top: $black_border;
            }
            .event-text.filled.no-project .column .date,
            .project-text.filled.no-event .column .cartel,
            .event-text.filled .column .related-projects,
            .project-text.filled .column .related-events {
                border-bottom: $black_border;
            }
        }
    }
    #events-list .ac-container .event-year-section h3.year::after {
        border: $black_border;
        //background-color: $base_color;
        background-color: transparent;
    }
    #events-list .ac-container .event-year-section .yearEventsList {
        border-left: $black_border;
    }
    .row.page-section div.column {
        border-top: $black_border;
    }
    .mode-switcher svg.icon {
        fill: $black_text;
    }
    .slider:hover {
        background-color: $black_text;
    }
    label.switch {
        box-shadow: inset 0 0 1px 1px $black_text;
    }
}
html[data-theme='dark'] {
    body,
    body #loader div.overlay,
    .site-header .row .main-navigation.toggled {
        color: $white_text;
        background-image: linear-gradient(
                to bottom,
                rgba(0, 0, 150, 0.15),
                rgba(0, 0, 150, 0.25)
            ),
            url(build/img/darkdenim3.png);
    }
    .site-header .row .main-navigation.toggled svg.spinner g .path {
        stroke: $white_text;
    }
    .fluidbox__overlay {
        background: #111;
    }
    .site-header .row .main-navigation.toggled {
        background: $black_text;
    }

    .menu-toggle .menu-icon,
    .menu-toggle .menu-icon::after,
    .menu-toggle .menu-icon::before {
        background: $white_text;
    }
    @include breakpoint(phone) {
        .site-header .row .main-navigation ul.menu li {
            border-color: darken($base_color, 65%);
            a::after {
                color: darken($base_color, 65%);
            }
        }
    }
    blockquote,
    hr {
        border-color: $white_text;
    }
    .tnp-widget .tnp-field-button input.tnp-submit,
    .language-chooser-item a,
    button.search-submit,
    .page-numbers,
    a.button,
    button.button {
        color: $white_text;
        border-color: $white_text;
    }

    form {
        textarea,
        input[type='text'],
        input[type='search'],
        .tnp-field.tnp-field-email input[type='email'].tnp-email {
            color: #fff;
            border: $white_border;
            background-color: darken($dark_base, 12%);
        }
        textarea:focus,
        input[type='text']:focus,
        input[type='text'].focus,
        input[type='search']:focus,
        .tnp-field.tnp-field-email input[type='email'].tnp-email:focus {
            box-shadow: inset 0 0 0.4em
                transparentize(darken($dark_base, 4%), 0.8);
            background-color: darken($dark_base, 5%);
        }
        @include breakpoint(laptop) {
            .widget_newsletterwidget {
                border: $white_border;
            }
        }
        .top-bar .widget_search form,
        .widget_newsletterwidget .tnp-widget form {
            label input[type='search'],
            input[type='submit'] {
                border: $white_border;
            }
        }
    }
    header nav ul.menu li a,
    .language-chooser-item-item a,
    .site-branding .site-title a {
        border-color: #fefefe;
        color: $white_text;
    }
    header.site-header .wrapper {
        border-bottom: $white_border;
    }
    @include breakpoint(laptop) {
        article > .entry-header,
        #main > .entry-header {
            border-bottom: $white_border;
        }
    }
    footer.site-footer .wrapper {
        border-top: $white_border;
    }
    .project-title a:hover {
        border-bottom: 1px dotted $white_text;
    }
    .project-summary,
    .events-list--event {
        background-color: $dark_base;
        transition: background-color 0.15s ease-out;
    }
    body.single-project,
    body.single-event {
        @include breakpoint(phone) {
            .social-sharing-module.laptop {
                display: none;
            }
            .social-sharing-module.mobile {
                border-top: $white_border;
            }
            .project-text.filled .column:first-child,
            .event-text.filled .column:first-child {
                border-bottom: $white_border;
            }
        }
        @include breakpoint(laptop) {
            .social-sharing-module,
            .event-text.filled .column .place,
            .project-text.filled .column .cartel {
                border-top: $white_border;
            }
            .event-text.filled.no-project .column .date,
            .project-text.filled.no-event .column .cartel,
            .event-text.filled .column .related-projects,
            .project-text.filled .column .related-events {
                border-bottom: $white_border;
            }
        }
    }
    #events-list .ac-container .event-year-section h3.year::after {
        border: $white_border;
        background-color: transparent;
    }
    #events-list .ac-container .event-year-section .yearEventsList {
        border-left: $white_border;
    }
    .row.page-section div.column {
        border-top: $white_border;
    }
    .mode-switcher svg.icon {
        fill: $white_text;
    }
    .slider:hover {
        background-color: $white_text;
    }
    label.switch {
        box-shadow: inset 0 0 1px 1px $white_text;
    }
}

.tnp-widget .tnp-field-button input.tnp-submit:hover,
.language-chooser-item a:hover,
button.search-submit:hover,
a.button:hover,
button.button:hover,
button.button.active,
button.button.focus {
    border-color: $accent_color;
}
form {
    textarea:focus,
    input[type='text']:focus,
    input[type='search']:focus,
    .tnp-field.tnp-field-email input[type='email'].tnp-email:focus {
        border-bottom: 2px solid $accent_color;
    }
}
label.switch .slider::before {
    background-color: $accent_color;
}
