header.site-header .wrapper {
    position: relative;
}

header.site-header .row {
    @include breakpoint(phone) {
        display: table;
        width: 100%;
    }
    @include breakpoint(tablet) {
        display: table;
    }
    @include breakpoint(laptop) {
        display: block;
    }

    .site-branding h1.site-title {
        @include plumber(
            $grid-height: 1rem,
            $baseline: $headline_baseline,
            $font-size: 2,
            $line-height: 3,
            $leading-top: 1,
            $leading-bottom: 1
        );

        text-align: left;
        color: #9aa7bc;
        font-weight: bold;
        text-align: justify;
        letter-spacing: 0.109em;

        @include breakpoint(phone) {
            font-size: 1em * $ratio;
            line-height: 2rem;
        }
        @include breakpoint(tablet) {
            font-size: 1.3em * $ratio;
            line-height: 3rem;
        }
        @include breakpoint(laptop) {
            font-size: 1.6em * $ratio;
            text-indent: 0;
            line-height: 4rem;
            box-shadow: none;
            border: none;
        }
        a {
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    .menu-toggle {
        @include breakpoint(phone) {
            display: block;
            position: absolute;
            top: 4px;
            left: 0;
            padding: 2rem;
            margin: 0;
            width: 64px;
            height: 64px;
            border: none;
            border-bottom: none;
            background: none;
            vertical-align: middle;
        }

        @include breakpoint(laptop) {
            display: none;
        }
    }

    .menu-toggle:hover,
    .menu-toggle:focus,
    .menu-toggle:active {
        outline: none;
        -webkit-appearance: button;
        cursor: pointer;
    }
    .menu-toggle .menu-icon,
    .menu-toggle .menu-icon::before,
    .menu-toggle .menu-icon::after {
        position: absolute;
        top: 0;
        @include breakpoint(phone) {
            width: 24px;
            height: 2px;
        }
        @include breakpoint(tablet) {
            width: 32px;
            height: 4px;
        }
        transition: all 0.3s;
    }
    .menu-toggle .menu-icon {
        @include breakpoint(phone) {
            top: 36%;
        }
        @include breakpoint(tablet) {
            top: 50%;
        }
        left: 25%;
    }
    .menu-toggle .menu-icon::before,
    .menu-toggle .menu-icon::after {
        content: '';
        display: block;
    }
    @include breakpoint(phone) {
        .menu-toggle .menu-icon::before {
            margin-top: -9px;
        }
        .menu-toggle .menu-icon::after {
            margin-top: 9px;
        }
    }
    @include breakpoint(tablet) {
        .menu-toggle .menu-icon::before {
            margin-top: -12px;
        }
        .menu-toggle .menu-icon::after {
            margin-top: 12px;
        }
    }

    .menu-toggle.open .menu-icon {
        background: transparent;
    }
    .menu-toggle.open .menu-icon::before {
        margin-top: 0px;
        transform: rotate(-45deg);
    }
    .menu-toggle.open .menu-icon::after {
        margin-top: 0px;
        transform: rotate(45deg);
    }
}

.site-header .row .site-branding,
.site-header .row .menu-toggle {
    @include breakpoint(phone) {
        flex: 1;
        float: none;
    }
    @include breakpoint(laptop) {
    }
    text-decoration: none;
}
.site-header .row .site-branding {
    @include breakpoint(phone) {
        width: 85%;
        width: calc(100% - 80px);
        margin-left: 60px;
    }
    @include breakpoint(tablet) {
        margin-left: 80px;
    }
    @include breakpoint(laptop) {
        display: inline-block;
        margin-left: 0;

        h1 a span {
            display: block;
        }
    }
    h1 {
        display: inline-block;
        width: auto;
    }
}
.site-header .row .widget-area {
    @include breakpoint(phone) {
        display: block;

        &.widget-mobile .top-bar .widget_search,
        &.widget-laptop {
            display: none;
        }
        li.mode-switcher {
            display: block;
        }
        ul.top-bar li ul.language-chooser {
            display: block;
            width: 50%;
            margin: 0 auto;
            border: none;
            li {
                display: inline-block;
                width: 50%;
                a {
                    display: block;
                }

                &:nth-child(odd) a span {
                    float: right;
                }
                &:nth-child(even) a span {
                    float: left;
                }
            }
        }
    }
    @include breakpoint(laptop) {
        display: inline-block;
        float: right;
        padding: 0.5em 0 0 0;

        &.widget-mobile {
            display: none;
        }

        ul.top-bar li {
            display: inline-flex;
        }
    }
    ul.top-bar {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        list-style-type: none;
        text-align: center;

        li a::before,
        li a::after {
            content: none;
        }
    }
}
.site-header .row .main-navigation {
    @include breakpoint(phone) {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        min-height: 100vh;
        z-index: 99;
        background: #fff;
        background: linear-gradient(to left, #f6f6f6, #fff 75%);
        transform: translateX(-120%);
        transition: transform 0.35s ease-in;
        z-index: 1001;

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            li {
                flex: auto;
                border-width: 0;
                border-top-width: 1px;
                border-style: solid;
            }
            li:last-child {
                border-bottom-width: 1px;
            }
        }
    }
}
.site-header .row ul.top-bar .qtranxs_widget ul {
    padding: 0.25em 0 0 0;
}
.site-header .row ul.top-bar .qtranxs_widget ul li {
    margin: 0 1em 0 0 !important;
}
.site-header .row .main-navigation.toggled {
    transform: translateX(0);
    max-width: 70%;
    transition: transform 0.35s ease-in;
}
.row .main-navigation ul {
    @include breakpoint(phone) {
        display: block;
    }
    @include breakpoint(laptop) {
        display: flex;
        width: 100%;
    }
    justify-content: flex-start;
    white-space: nowrap;
    list-style-type: none;
}

.row .main-navigation ul.menu li.menu-item {
    @include breakpoint(phone) {
        display: block;
        padding: 0 1.4rem;
    }
    @include breakpoint(laptop) {
        margin: -4px 4rem 0 0;
    }
    position: relative;
}
@include breakpoint(phone) {
    .row .main-navigation.toggled ul li {
        text-align: center;
    }
}
.row .main-navigation ul li a {
    display: block;

    @include breakpoint(phone) {
        @include plumber(
            $grid-height: 0.7rem,
            $baseline: $headline_baseline,
            $font-size: 2,
            $line-height: 2,
            $leading-top: 1,
            $leading-bottom: 1
        );

        text-transform: capitalize;

        &::after {
            position: absolute;
            content: '›';
            right: 1.5rem;
            font-weight: bolder;
        }
    }

    @include breakpoint(laptop) {
        @include plumber(
            $grid-height: 0.4rem,
            $baseline: $headline_baseline,
            $font-size: 4,
            $line-height: 4,
            $leading-top: 4,
            $leading-bottom: 4
        );
        font-weight: bold;
    }

    //font-family: $headline_font;
    font-family: $alt_font;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    background-color: transparent;

    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}

.row .main-navigation ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    @include breakpoint(phone) {
        margin-left: -1rem;
        width: 2px;
        height: 100%;
    }
    @include breakpoint(laptop) {
        margin-left: 0;
        width: 30px;
        margin-bottom: -2px;
        height: 4px;
    }
    background-color: $accent_color;

    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
    transition: transform 0.3s;

    transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}
.row .main-navigation ul li a:hover,
.row .main-navigation ul li a:focus {
    color: $accent_color;
}
.single-project .row .main-navigation ul li.projects a,
.single-event .row .main-navigation ul li.events a,
.row .main-navigation ul li.current-menu-item a {
    color: $accent_color;
}
.single-project .row .main-navigation ul li.projects a::before,
.single-event .row .main-navigation ul li.events a::before,
.row .main-navigation ul li.current-menu-item a::before,
.row .main-navigation ul li a:hover:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.row .main-navigation ul.menu li.menu-item-has-children {
    @include breakpoint(phone) {
        display: none;
    }
    @include breakpoint(laptop) {
    }
}
.row .main-navigation ul.menu li.menu-item.menu-item-has-children ul.sub-menu {
    display: none;
}
.row
    .main-navigation
    ul.menu
    li.open.menu-item.menu-item-has-children
    ul.sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0.45em;
    left: 0;
    right: 0;
    margin-left: -1em;
    margin-right: -1em;
    width: auto;
    border-left: $black_border;
    border-right: $black_border;
    border-bottom: $black_border;
    background: #fefefe;
    z-index: 999;
    li {
        display: block;
        a {
            color: #333;

            img {
                display: none;
            }
        }
    }
}
.row .main-navigation ul li.menu-item-has-children.open ul.submenu::after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: $accent_color;
    border-width: 10px;
    margin-left: -10px;
}
nav.page-nav {
    display: block;
    margin-bottom: 3em;
    text-align: center;
}
footer.site-footer {
    margin-top: 1em;
    padding-bottom: 2em;
}
footer.site-footer .row {
    @include breakpoint(phone) {
        display: block;
    }
    @include breakpoint(laptop) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    margin-top: 1em;
    padding: 0.5em;

    .footer-menu .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 1.5em;
    }
    .footer-menu,
    .site-info {
        @include breakpoint(phone) {
            flex: 1;
        }
        @include breakpoint(laptop) {
            flex-grow: 1;
        }
    }
    .footer-menu,
    .site-info {
        width: auto;
    }

    .footer-menu ul#menu-footer {
        padding-top: 2em;

        @include breakpoint(phone) {
            display: flex;

            li a {
                margin: 0 0.5em;
            }
        }
        @include breakpoint(laptop) {
            display: flex;

            li {
                flex: 1;
                width: auto;

                a {
                    @include plumber(
                        $grid-height: 1rem,
                        $baseline: $headline_baseline,
                        $font-size: 1,
                        $line-height: 2,
                        $leading-top: 1,
                        $leading-bottom: 1
                    );
                }
                text-align: left;
                border-bottom: none;
                margin-left: 1em;
            }
            li:last-child {
                border-bottom: none;
            }
        }
        list-style-type: none;
    }
    .site-info p,
    .site-info a {
        @include plumber(
            $grid-height: 1rem,
            $baseline: $body_baseline,
            $font-size: 1,
            $line-height: 2,
            $leading-top: 1,
            $leading-bottom: 1
        );

        @include breakpoint(phone) {
            text-align: center;
        }
        @include breakpoint(laptop) {
            text-align: right;
        }
    }
}
