$emBase: 16px;
$accent_color: #ca3f79;
$base_color: #fefefe;
$dark_base: #2b273f;

$border_color: #333;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$black_text: #3d0979;
$white_text: #ffb1b1;

$black_border: 2px solid $black_text;
$white_border: 2px solid $white_text;
$plyr-color-main: $accent_color;
