$emBase: 16px;
$accent_color: #69a3ff;
$base_color: #fefefe;
$dark_base: #2b273f;

$border_color: #333;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$black_text: #42384d;
$white_text: #f3c2c2;

$black_border: 2px solid $black_text;
$white_border: 2px solid $white_text;
$plyr-color-main: $accent_color;
