$emBase: 16px; //default
$accent_color: #8338ec; //#ff6132; //#0984e3; //  #FF6132
$base_color: #fcfcfc;
$dark_base: #292929;

$border_color: #333;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$black_text: #2c005d;
$white_text: #ffb1b1;

$black_border: 2px solid $black_text;
$white_border: 2px solid $white_text;
$plyr-color-main: $accent_color;
