// Import variables and mixins.
//@use "abstracts/abstracts";

@font-face {
	font-family: Geist;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("../build/fonts/GeistVF.woff2") format("woff2");
}

.editor-styles-wrapper .wp-block-gallery.is-style-tiled {
	display: flex;
	flex-wrap: wrap;
	background-color: tomato;
}

.wp-block-image.is-style-oneCol,
.wp-block-gallery.has-nested-images.is-style-tiled
	figure.is-style-oneCol:not(#individual-image) {
	width: calc(100% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667);
}

.wp-block-image.is-style-twoCol,
.wp-block-gallery.has-nested-images.is-style-tiled
	figure.is-style-twoCol:not(#individual-image) {
	width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667);
}

.wp-block-image.is-style-threeCol,
.wp-block-gallery.has-nested-images.is-style-tiled
	figure.is-style-threeCol:not(#individual-image) {
	width: calc(
		33.3333% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667
	);
}
