{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": false,
                "useBuiltIns": false,
                "modules": "commonjs"
            }
        ]
    ]
}
