// =============================================================================
// String Replace
// =============================================================================
/*
@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}


@include font-face('Open Sans', '../fonts/opensans-bold-webfont', null, null, woff woff2);

@include font-face('Gentium Basic Regular', '../fonts/genbasr-webfont', null, null, woff woff2);

@include font-face('Gentium Basic Italic', '../fonts/genbasi-webfont', null, null, woff woff2);
*/

//Open sans & Gentium basic baseline for plumber
//$headline_font: 'Oxygen', sans-serif;
$headline_font: 'Sintony', sans-serif;

$headline_baseline: 0.104492;

//$body_font: 'Source Sans Pro', sans-serif;
$body_font: 'Poppins', sans-serif;

$italic_font: 'Poppins', sans-serif;
$body_baseline: 0.144500;

$headline_num: 6;
$body_font_size: 16px;

$ratio: 1.125;
$grid-height: 1rem;

@import "../../node_modules/plumber-sass/plumber";
@-moz-document url-prefix() {
  body {
    font-weight: lighter!important;
  }
}
body {
  line-height: 1;
  font-size: 1em;
  font-family: $body_font;
  color: #333;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

p,
em,
blockquote,
textarea,
input[type="text"],
.project-summary a,
.event-info a,
.entry-content ul li p,
.entry-content ul li a,
.related-projects li a,
.related-events li a{
  line-height: 1.5 * $ratio;
  font-size: 1em * $ratio;
  letter-spacing: 0;
}
p,
textarea,
input[type="text"],
.entry-content ul li p {
  color: #333;
}

blockquote {
  color: #777;
}
em, blockquote { font-style: italic; font-size: 1em; }

@for $i from 1 through $headline_num {

  $anti_i: ( $headline_num + 1 ) - $i;

  h#{$i} {
    @include breakpoint( phone ){
      @include plumber(
        $grid-height: .7rem,
        $baseline: $headline_baseline,
        $font-size: $anti_i / 1.15,
        $line-height: $anti_i + 1,
        $leading-top: $anti_i - 2,
        $leading-bottom: $anti_i - 3	);
    }
    @include breakpoint( tablet ){
      @include plumber(
        $grid-height: .7rem,
        $baseline: $headline_baseline,
        $font-size: $anti_i / 1.07,
        $line-height: $anti_i + 1,
        $leading-top: $anti_i - 2,
        $leading-bottom: $anti_i - 3	);
    }

    @include breakpoint( laptop ){
      @include plumber(
        $grid-height: 1rem,
        $baseline: $headline_baseline,
        $font-size: $anti_i,
        $line-height: $anti_i + 1,
        $leading-top: $anti_i - 2,
        $leading-bottom: $anti_i - 3	);

    }
    font-family: $headline_font;
    letter-spacing: .001em * $anti_i;
  }
}
h4 {
  border-bottom: 1px solid #eee;
  margin-bottom: .5em;
}
a.button,
button.button,
.search-form input[type="submit"],
a {
  text-decoration: none;
  font-family: sans-serif;
  color: $accent_color;
  border-bottom: 1px dotted #0072FF;
  letter-spacing: .05em;
	z-index: 1;
}
a.button,
button.button,
.search-form input[type="submit"] {
	position: relative;
	height: 3em;
	line-height: 1em;
	font-size: 1.05em;
  padding: .6em 1em;
  border: $border;
  background-color: #fefefe;
  text-transform: uppercase;
  transition: background-color .25s ease-out;
}
button.button,
.search-form input[type="submit"] {
  font-family: $headline_font;
  vertical-align: top;
  line-height: 1em;
  max-height: 2.4em;
	background-color: #fefefe;
	cursor:pointer;
  -webkit-appearance: none;
	-moz-appearance: none;
}

a:link {
  color: $accent_color;
  border-color: $accent_color;
}
a:visited {
  color: darken( $accent_color, 10%);
  border-color: darken( $accent_color, 10%);
}
a:hover {
  color: darken( $accent_color, 30%);
  border-color: darken( $accent_color, 30%);
}
a:active {
  color: darken( $accent_color, 30%);
  border-color: darken( $accent_color, 30%);
}
header nav ul.menu li a,
.language-chooser-item.active a,
.site-branding .site-title a{
	border-bottom: none;
  color: #444;
}
.site-branding .site-title a:hover,
.site-branding .site-title a:focus,
.language-chooser-item.active a:hover{
	color: #555;
}

a.button::before,
button.button::before,
.search-form input[type="submit"]::before {
	font-family: $headline_font;
	content: '⟩⟩ ';
	z-index: inherit;
	color: inherit;
}

a.button::after,
button.button::after,
.search-form input[type="submit"]::after {
	display: block;
	position: absolute;
	content: '';
  top: 0em;
  left: 0;
	bottom: 0;
  right: 0;
	width: 0;
  height: 100%;
	z-index: -1;
  background-color: desaturate( darken( $accent_color, .3) , .3);
  transition: width .15s ease-out;
}

a.button:hover,
button.button:hover,
.search-form input[type="submit"]:hover {
	color: #fff;
  background-color: lighten($accent_color, .5);
  border: 1px solid lighten($accent_color, 1);
}

a.button:hover::after,
button.button:hover::after,
.search-form input[type="submit"]::after {
	width: 97%;
}
button.button:hover::after,
.search-form input[type="submit"]::after {
  width: 100%;
}
.entry-content .event-info,
.entry-content .cartel {
	padding-bottom: 2em;
}
