$col_num: 12;


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  position: relative;
  
  @include breakpoint( phone ) {
    display: block;
  }
  @include breakpoint( tablet ) {
    display: block;
  }
  @include breakpoint( laptop ) {
    display: flex;
    flex-direction: row;
  }
  display: flex;
  flex-direction: row;
  width: 100%;
}

@for $i from 1 through $col_num {

  .col-#{$i}
  {
    @include breakpoint( phone ) {
      flex-basis: 100%;
    }
    @include breakpoint( tablet ) {
      flex-basis: 100%;
    }
    @include breakpoint( laptop ) {
      flex-basis: percentage( $i / $col_num );
    }
    width: auto;
  }
}
[class*='col-']{
  position: relative;

}
.column img {
  max-width: 100%;
  height: auto;

}
