button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

label {
  display: inline-block;
}
textarea {
  max-width: 100%;
  width: 100%;
}

form {
  font-family: $body_font;
  textarea {
   font-family: inherit;
  }
  textarea,
  input[type="text"] {
    display: block;
    margin: 0;
    width: 95%;
    width: calc( 100% - 2em);
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
  textarea:focus,
  input[type="text"]:focus,
  input[type="search"]:focus {
    outline: none;
  }
  textarea,
  input[type="text"],
  input[type="search"] {
    margin: 1em 0;
    padding: 1em;
    border: none;
    border: 2px solid #EFEFEE;
    transition: border 0.3s;
  }
  textarea:focus,
  input[type="text"]:focus,
  input[type="text"].focus,
  input[type="search"]:focus {
    box-shadow: 0 0 .4em transparentize(invert($accent_color), .92);
    border-color: $accent_color;
  }
  label{
    clear: both;
    float: none;
    display: block;
  }
  span.security-check {
    display: table;
    input, span {
      display: table-cell;
    }
    span {
      vertical-align: middle;
    }
  }
}
form.search-form {
  label, input {
    display: inline-block;
  }
  input[type="submit"] {
    vertical-align: middle;
  }
}

.top-bar .widget_search form {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  label input[type="search"],
  input[type="submit"] {
    font-size: .85em;
    padding: 0 1rem;
    line-height: 1rem;
    height: 2.3rem;
    border: 1px solid #EFEFEE;
    transition: all .15s ease-out;
    color: inherit;
    &:hover,
    &:focus {
      border: 1px solid $accent_color;
    }
  }
  label {
    input[type="search"] {
      margin-right: 0;
      border-right: none;
    }
  }
  input[type="submit"] {
    margin: 1em 1em 1em 0;
    line-height: .2rem;

    &:hover { color: #fff; }
  }
}
