.site-content {
  z-index: 1;
}
.entry-content {
  padding-bottom: 4rem;
}
.entry-content::after {
  display: table;
  clear: both;
  float: none;
}
.project-summary,
.events-list--event {
  position: relative;
  height: auto;
  line-height: 0;
  margin-bottom: 2em;
  background-color: #fff;
}

.project-summary .project-cover {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
  text-decoration: none;
  overflow: hidden;

  img {
    float: right;
    max-width: 100%;
    width: 100%;
    height: auto;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.project-summary .project-cover:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  z-index: 99;

  transition: background-color .15s ease-in, border-width .5s ease-out;
}
.project-summary .project-cover:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.project-summary .project-cover:hover::before {
  background: transparentize( $accent_color, .75);
  background: linear-gradient(to right, transparentize( $accent_color, .8) , transparentize( complement( $accent_color ), .8));
  -moz-transition: border-width .35s;
  -webkit-transition: border-width .35s;
  transition: border-width .35s;

  @include stripe_border(all);
}

.project-summary,
.events-list--event,
.event-on-home {
  align-items: center;

  @include breakpoint( phone ) {
    flex-direction: column;
  }
  @include breakpoint( laptop ) {
    flex-direction: row;
  }
  box-shadow: 0 2px 4px rgba(204, 204, 204, 0.05);
}

.event-on-home {
  position: relative;
  display: flex;
  background: #F1F1F1;
  width: 100%;
  padding: 2rem;
}
.event-on-home .column {
  padding: 0 1em;
  margin: 1em 2em;
}
.project-summary,
.event-info,
.event-on-home {
  .project-title, .event-title {
    margin-bottom: 1rem;
  }
}
.project-summary .column.cartel,
.events-list--event .column.event-info,
.event-on-home .column.col-map {

  @include breakpoint( phone ) {

    padding-top: .5em;
  }

  .wrapper {
    width: 80%;
    height: 60%;
    margin: auto 0 auto 10%;
  }
}
.project-summary .column.cartel .wrapper .description {
  @include breakpoint( laptop ) {  max-width: 75%; }

}
.alignleft { float: left; margin-right: 1em; }
.alignright { float: right; margin-left: 1em; }
.project-title { font-style: italic;
}
h4.project-title {
  margin-bottom: 0;
}

.project-summary .column.cartel .wrapper .description,
.events-list--event .event-info.column .wrapper p.date,
.event-on-home .event-info p.date{
  display: block;
  margin-bottom: 1em * $ratio;
}
.attachment-full {
  @include breakpoint( phone ) {
    max-width: 110%;
    margin: 0 -5%;
  }
  @include breakpoint( laptop ) {
    max-width: 100%;
    margin: 0;
  }

  height: auto;
}

//Single project & single event
.single-project,
.single-event {

  .attachment-full,
  .related-events,
  .related-projects {
    padding-bottom: 1em;
    li {
      margin-left: 1em;
    }
  }
  .map-overlay {
    @include breakpoint( phone ) {
      padding-bottom: 2em;
    }
  }
  .row {
    align-items: flex-start;
  }
  @include breakpoint( laptop ) {
    .event-text.filled .column .place,
    .project-text.filled .column .cartel {
      padding-top: 1.35em;
      @include stripe_border(top);
    }
    .event-text.filled.no-project .column .date,
    .project-text.filled.no-event .column .cartel {
      padding-bottom: 1.35em;
      @include stripe_border(bottom);
    }
    .event-text.filled .column .related-projects,
    .project-text.filled .column .related-events {
      padding-bottom: 1.35em;
      @include stripe_border(bottom);
    }
  }
  .project-text.filled .column:first-child ,
  .event-text.filled .column:first-child {
    @include breakpoint( phone ) {
      padding: 0 0 1rem 0;
      margin: 0 0 2em 0;
      @include stripe_border(bottom);

    }
    @include breakpoint( laptop ) {
      padding: 0 2rem 1rem 0;
      margin: 0 0 2em 0;
    }

  }
  .row .column:last-child {

  }
}

.event-menu {
  @include breakpoint( phone ) {
    display: block;
    float: none;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 2em;
  }
  @include breakpoint( laptop ) {
    display: inline;
    float: right;
    margin-top: -7em;
    margin-bottom: 1em;
  }
  text-align: right;
}

#events-list .ac-container .event-year-section {

  h3.year {
    position: relative;
    line-height: auto;
    text-indent: .3em;
    margin: 0;
    padding: 0;
    height: 0;

    @include breakpoint( phone ) {
      width: 5%;
    }
    @include breakpoint( laptop ) {
      width: 12%;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: .3em;
      height: .3em;
      top: .5em;
      margin-left: -.15em;
      border: 1px solid darken($base_color, 15%);
      background-color: $base_color;
      border-radius: 50%;
      z-index: 11;
    }
  }
  .yearEventsList {
    display: block;
    position: relative;
    margin-bottom: -1rem;
    padding-top: 6em;
    @include breakpoint( phone ) {
      padding-left: 5%;
      width: 100%;
    }
    @include breakpoint( laptop ) {
      padding-left: 12%;
    }
    padding-bottom: 2em;

    border-left: 1px solid darken($base_color, 15%);
    list-style-type: none;
    z-index: 10;

    .thumbnail img{
      @include breakpoint( phone ) {
        display: block;
        width: inherit;
        margin: 0 auto;
      }
      @include breakpoint( laptop ) {
        display: inline;
        width: 100%;
        margin: 0;
      }
    }
  }
}
.event-year-section,
section.ac-container{ clear: both; float: none; padding-bottom: 2em;}
.events-list--event {

}
main::before,
main::after {
  clear: both;
  display: table;
  content: '';
}
.error-404 {
  margin-top: 3em;
  text-align: center;

  .center { padding-bottom: 3em; }
  .legend {
    text-transform: capitalize;
    animation: shake 1s infinite;
    animation-direction: alternate;
  }
}
@keyframes shake {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2);
  }
}
