.map-overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.05);
}
.map-overlay.active {
  background: none;
}
.map-overlay .map {
  pointer-events: none;
}
.map-overlay.active .map {
  pointer-events: auto;
}
