@use "../abstracts/mixins/mixins" as m;

.laptop-only {
	display: none;
	@include m.breakpoint(md) {
		display: block;
	}
}

.mobile-only {
	display: block;
	@include m.breakpoint(md) {
		display: none;
	}
}
