.site .wrapper {
    display: block;

    @include breakpoint(xs) {
        width: 90%;
    }
    @include breakpoint(sm) {
        width: 90%;
    }
    @include breakpoint(md) {
        width: inherit;
    }
    

    @include center-block;
    min-height: 100%;
}

.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 1.5em 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

main article > .entry-content:last-of-type {
    padding-bottom: 2em;
}

/* Project & event list
--------------------------------------------- */
.project-summary,
.event-summary {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 3em 0;
    background-color: var(--component-bg-color);

    @include breakpoint(sm) {
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
    }
    div.event-info,
    div.project-cartel {
        flex: 1 0 auto;
    }
    a.event-featured-image,
    a.project-featured-image {
        flex: 1 0 50%;
        /*  @include breakpoint(sm) {
            padding-left: 1em;
        } */
        img {
            float: left;
        }
    }

    div.event-info,
    div.project-cartel {
        padding: 2em;
        flex-basis: 50%;
    }
}

/* Post by year 
--------------------------------------------- */
body.page-template-events article.type-page > header.entry-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#events-list section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include breakpoint(sm) {
        margin: 0 0 1.5em 12%;
    }
}

/* Single project & event
--------------------------------------------- */
.single-project .project-texts,
.single-event .event-texts {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1.4em;

    @include breakpoint(md) {
        flex-flow: row nowrap;

        .project-description,
        .event-description {
            flex: 0 1 auto;
        }

        .project-cartel,
        .event-properties {
            padding-right: 1.5%;
            flex: 1 0 28.5%;
            hyphens: auto;
        }
    }
}
.project-cartel p,
.event-properties .date,
.event-properties .place {
    display: block;
    &::before,
    &::after {
        content: '';
        display: table;
    }
}
.project-cartel .list-title,
.event-properties .list-title {
    display: block;
}
ul.related-events,
ul.related-projects {
    margin-left: 0;
}

.social-sharing-module {
    margin-bottom: 1em;
}

.event-hero {
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    @include breakpoint(md) {
        flex-flow: row nowrap;
        align-items: stretch;
        overflow: hidden;
        .event-featured-image {
            max-width: 50%;
        }
    }

    .event-featured-image img {
        float: left;
    }
}

/* Small height content 
--------------------------------------------- */
.no-results,
.not-found,
.single-project .project-texts,
.single-event .event-texts {
    min-height: 60vh;
}

/* GIF page
--------------------------------------------- */
.gif-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 1em 0;
    flex-wrap: wrap;
    justify-content: center;
}
.gif-grid article {
    position: relative;
    padding: 1em;
    width: fit-content;
    text-align: center;
}

.gif-grid article a {
    display: block;
    border-radius: 2px;
    transition: all ease-in-out 0.15s;
}
.gif-grid article a:hover {
    background: var(--hover-color);
}

.gif-grid a.fluidbox--closed .fluidbox__wrap::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border: 48px solid rgba(0, 0, 0, 0);
    margin: -48px 0 0 -24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: var(--hover-color);
    z-index: 9;
    transition: all ease-in-out 0.15s;
}

.gif-grid a.fluidbox--closed .fluidbox__wrap:hover::before {
    border-left: 48px solid var(--hover-color);
}

.gif-grid a img {
    display: block;
    border: 12px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    overflow: hidden;
}
.gif-grid .gif-source.hidden {
    display: block;
    width: 1px;
    height: 1px;
    visibility: hidden;
    overflow: hidden;
}
