.main-navigation {

	> ul {
		list-style-type: none;
	}

	> ul li > ul {
		margin-left: 0;
		margin-bottom: 0.5em;

		li {
			list-style-type: none;
			clear: both;
			float: none;
		}
	}

	li {
		position: relative;
		padding-bottom: 0;
		margin: 0;
		@include border("bottom");

		&:last-child {
			border-bottom: none;
		}

		@include breakpoint(lg) {
			border-bottom: none;
		}
	}

	li.menu-item-has-children a {
		padding-right: 1em;
	}

	li.menu-item-has-children > a::after,
	li.menu-item-has-children > a::before {
		content: "";
		display: block;
		top: 0;
		margin-left: 0.15em;
		right: 0.25em;
		width: 0;
		height: 0;
		position: absolute;
		border-width: 0.25em;
		margin-top: 1.25em;
		border-style: solid;
		border-color: var(--primary-color) transparent transparent transparent;
		z-index: 666;

		transition: margin 0.05s ease-out;
	}

	li.menu-item-has-children:hover > a::before,
	li.menu-item-has-children:hover > a::after {
		margin-top: 1em;
		border-color: transparent transparent var(--primary-color) transparent;
	}

	li.menu-item-has-children:hover > a::after {
		margin-top: 1.05em;
		border-color: transparent transparent var(--component-bg-color) transparent;
	}

	a {
		display: block;
		text-decoration: none;
	}

	ul li a {
		padding: 1rem 2.5rem;
		font-weight: 500;
		text-align: center;
		background: transparent;

		@include breakpoint(lg) {
			padding: 0;
			margin: 0;
		}
	}

	[aria-current="page"],
	.current_page_item,
	.current-menu-item,
	.current_page_ancestor,
	.current-menu-ancestor {
		color: var(--hover-color);
		font-weight: 700;
	}
}

/* Small menu. */
.main-navigation {
	display: none;
	position: absolute;
	width: auto;
	top: 100%;
	right: 0;
	height: auto;
	z-index: 999;

	&.toggled {
		display: block;
	}

	&::after {
		content: "";
		display: table;
		clear: both;
		float: none;
	}

	ul.sub-menu {
		display: none;
	}
}

.menu-toggle {
	display: block;
	position: relative;
	padding: 1.5rem;
	margin: 0;
	background: none;
	width: auto;
	border-bottom: none;

	@include breakpoint(lg) {
		display: none;
	}
}

.main-navigation {
	@include breakpoint(lg) {
		position: relative;
		flex: 1 0 auto;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;

		& > ul {
			padding-bottom: 1rem;
		}

		ul.sub-menu {
			display: block;
			margin: 0;
			padding: 0 0 0.5em 0;
		}

		ul li {
			padding: 0 0.5em 0 0.75em;
			margin: 0;
		}

		ul li a {
			text-align: left;
			line-height: 1.2;
			margin-bottom: 1.66em;
		}
	}
}

.main-navigation > ul {
	display: flex;
	flex-flow: column nowrap;
	box-shadow: var(--shadows);
	width: 100%;
	align-items: stretch;
	float: right;
	background: var(--bg-color);

	@include breakpoint(md) {
		margin: 0;
		flex-flow: column wrap;
		justify-content: flex-start;
		max-width: 90%;
		max-width: calc(100% - 1rem);
		box-shadow: none;

		ul {
			display: block;
		}
	}

	@include breakpoint(lg) {
		background: none;
	}
}

/* comon navigation */
.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

/* page num navigation */
nav.page-nav {
	display: block;
	padding-bottom: 2rem;
	@include clearfix;
}

/* sharing menu */
.social-sharing-module > ul,
#menu-footer {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* footer */
footer.site-footer {
	display: flex;
	flex-flow: column wrap;
	padding-top: 1em;

	ul.menu {
		display: flex;
		width: 100%;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	ul.menu li a {
		display: block;
		padding: 0.5em 1em;
		font-size: 0.85em;
	}
}
