.main-navigation {
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            box-shadow: var(--shadows);
            @include border;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                text-align: center;
                &:hover > ul,
                &.focus > ul {
                    display: block;
                    left: auto;
                    width: auto;
                }
            }

            a {
                width: auto;
            }
        }

        li:hover > ul,
        li.focus > ul {
            display: block;
            left: 50%;
            width: 200px;
            margin-left: -100px;
        }
        @include breakpoint(md) {
            li > ul > li > a {
                display: block;
            }
        }
    }

    li {
        position: relative;
        @include breakpoint(xs) {
            @include breakpoint(sm, max) {
                @include border('bottom');
            }
        }
        transition: all 0.35s ease-out;
    }
    li.menu-item-has-children a {
        padding-right: 1em;
    }
    li.menu-item-has-children > a::after,
    li.menu-item-has-children > a::before {
        content: '';
        display: block;
        top: 0;
        margin-left: 0.15em;
        right: 0.25em;
        width: 0;
        height: 0;
        position: absolute;
        border-width: 0.25em;
        margin-top: 1.25em;
        border-style: solid;
        border-color: var(--primary-color) transparent transparent transparent;
        z-index: 666;

        transition: margin 0.05s ease-out;
    }
    li.menu-item-has-children > a::after {
        margin-top: 1.15em;
        top: 0;
        border-color: var(--component-bg-color) transparent transparent
            transparent;
        z-index: 999;
    }
    li.menu-item-has-children:hover > a::before,
    li.menu-item-has-children:hover > a::after {
        margin-top: 1em;
        border-color: transparent transparent var(--primary-color) transparent;
    }
    li.menu-item-has-children:hover > a::after {
        margin-top: 1.05em;
        border-color: transparent transparent var(--component-bg-color)
            transparent;
    }
    li.qtranxs-lang-menu-item a img {
        display: none;
        margin-bottom: 0.15em;
    }
    a {
        display: block;
        text-decoration: none;
    }
    ul li a,
    ul li input,
    ul li button,
    ul li fieldset {
        padding: 0.6em 0.8em;
        font-size: 1.5em;

        @include breakpoint(md) {
            padding: 0.4em 0.6em;
            font-size: 1em;
        }

        text-align: center;
        background: transparent;
    }
    ul li input {
        @include breakpoint(md) {
            width: 120px;
        }
    }
    .current_page_item,
    .current-menu-item,
    .current_page_ancestor,
    .current-menu-ancestor {
        &::after {
            content: '.......';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            color: var(--hover-color);
            @include breakpoint(md) {
                margin-bottom: -0.5em;
            }
        }
    }
}

/* Small menu. */
.main-navigation {
    display: none;
    &.toggled {
        display: block;
    }

    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: auto;
    z-index: 999;

    @include breakpoint(md) {
        position: relative;
        width: auto;
        top: unset;
        left: unset;

        flex: 1 0 auto;

        display: flex;
        flex-flow: row wrap;
    }
    @include breakpoint(lg) {
        max-width: 70%;
    }
}
.menu-toggle {
    display: block;
    position: relative;
    padding: 1.5rem;
    margin: 0;
    background: none;
    @include breakpoint(md) {
        display: none;
    }
}

.main-navigation > ul {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: var(--shadows);

    @include breakpoint(sm) {
        flex-flow: row wrap;
    }

    @include breakpoint(md) {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        box-shadow: none;

        ul {
            display: block;
        }
    }
    @include breakpoint(lg) {
        justify-content: flex-end;
    }
}

/* comon navigation */
.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
    }

    .nav-links {
        display: flex;
    }

    .nav-previous {
        flex: 1 0 50%;
    }

    .nav-next {
        text-align: end;
        flex: 1 0 50%;
    }
}

/* page num navigation */
nav.page-nav {
    display: block;
    margin-bottom: 3em;
}
/* sharing menu */
.social-sharing-module > ul,
#menu-footer {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/* footer */
footer.site-footer .wrapper {
    padding: 1em 0;
    display: flex;
    flex-flow: column wrap;
    @include breakpoint(md) {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    ul.menu {
        display: flex;
        flex-flow: row wrap;
        li a {
            padding: 0.5em;
        }
        @include breakpoint(md) {
            flex-flow: column nowrap;
            li a {
                padding: 0.5em 0;
            }
        }
    }
    .site-info p,
    .site-info a {
        padding: 0 0.5em;
        @include breakpoint(md) {
            padding: 0;
        }
    }
}

footer .site-info {
    @include breakpoint(md) {
        text-align: right;
    }
}
