@use "../../abstracts/variables/typography" as t;
p {
	margin-bottom: 1.66em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: var(--border-color);
	font-family: t.$font__pre;
	margin-bottom: 1.66em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: t.$font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted var(--border-color);
	cursor: help;
}

mark,
ins {
	background: var(--bg-color);
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote {
	position: relative;
	padding: 2rem 3rem;
	clear: both;
	float: none;

	&::before,
	&::after {
		font-size: 4rem;
		font-family: serif;
		opacity: 0.5;
		z-index: 1;
	}

	&::before {
		content: "“";
		float: left;
		margin: -0.5em 0 -1em -3rem;
	}

	&::after {
		position: absolute;
		content: "”";
		bottom: 0.5rem;
		right: 0.5rem;
	}

	p {
		font-style: italic;
	}
}

blockquote ~ p {
	margin-left: 2rem;
}
