h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font__heading;
    clear: both;
    color: var(--text-color);
    hyphens: auto;
    font-weight: 700;
    opacity: 0.75;
}

$level-size: 0.5rem;

@each $level in $type-levels {
    $level-size: $level-size * $type-size-ratio;

    // Output heading styles
    // Assign to element and create utility class
    h#{$level} {
        font-size: $level-size;
    }
}

.site-title {
    @include breakpoint(xs) {
        @include breakpoint(md, max) {
            font-size: 1.9em;
        }
    }
    @include breakpoint(md) {
        @include breakpoint(lg, max) {
            text-align: center;
        }
    }
}
