@use "../../abstracts/variables/typography" as t;
@use "../../abstracts/variables/breakpoints" as b;
@use "../../abstracts/mixins/mixins" as m;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: t.$font__heading;
	clear: both;
	color: var(--text-color);
	hyphens: auto;
	font-weight: 900;
	line-height: 2;
	opacity: 0.75;
}

$level-size: 0.75rem;

@each $level in t.$type-levels {
	$level-size: $level-size * t.$type-size-ratio;

	// Output heading styles
	// Assign to element and create utility class
	h#{$level} {
		font-size: $level-size;
	}
}

.site-title {
	@include m.breakpoint(xs) {
		@include m.breakpoint(md, max) {
			font-size: 1.9em;
			line-height: 1;
		}
	}

	@include m.breakpoint(md) {
		@include m.breakpoint(lg, max) {
			text-align: center;
		}
	}
}
