html {
	font-size: $body_font_size;
	font-size: calc($body_font_size + 2 * ((100vw - 320px) / 680));
	line-height: 1.5;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: var(--text-color);
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
	font-weight: 500;
}

article .entry-content .entry-meta,
article footer.entry-footer {
	margin-top: 3rem;
}

@import "headings";
@import "copy";
