@include font-face(
    'Inter-Black',
    'build/fonts/Inter-Black',
    900,
    normal,
    woff2 woff,
    swap
);

html {
    font-size: $body_font_size;
    font-size: calc(16px + 4 * ((100vw - 320px) / 680));
}
/*
@include breakpoint(xs) {
    html {
    }
}
@include breakpoint(md) {
    html {
        font-size: 20px;
    }
}
@include breakpoint(lg) {
    html {
        font-size: 22px;
    }
}
*/

body,
button,
input,
select,
optgroup,
textarea {
    color: var(--text-color);
    font-family: $font__main;
    font-size: 1rem;
    line-height: $font__line-height-body;
    font-weight: 500;
}

@import 'headings';
@import 'copy';
