@use "../../abstracts/mixins/mixins" as m;

.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {
	.gallery-columns-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}

.ext-gallery {
	position: relative;
	max-width: 100%;
	overflow-x: scroll;
	padding-bottom: 82vw;
	border-bottom: 1px solid var(--border-color);

	@include m.breakpoint(md) {
		padding-bottom: 26vw;
	}

	@include m.scrollbars(0.5rem, var(--border-color), var(--bg-color));
}

.ext-gallery .scroll-wrapper {
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	white-space: nowrap;
	overflow-x: visible;
	padding: 1em 0 3em 0;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.ext-gallery .scroll-wrapper a {
	padding: 1em;
	text-align: center;
	flex: 0 0 45vw;

	@include m.breakpoint(md) {
		flex: 0 0 18vw;
	}
}

.ext-gallery .scroll-wrapper a:hover {
	background: transparent;
	transition: background ease-in-out 300ms;
}

.ext-gallery .scroll-wrapper a img {
	opacity: 1;
	transition: all ease-in-out 100ms;
	object-fit: contain;
	box-shadow: var(--shadows);

	@include m.breakpoint(md) {
		max-height: 17vw;
	}
}

.ext-gallery .scroll-wrapper a:hover {
	background: var(--component-bg-color);
}

.ext-gallery .scroll-wrapper a:hover img {
	opacity: 0.8;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.wp-block-gallery.is-style-tiled {
	display: flex;
	flex-wrap: wrap;
}

.wp-block-image.is-style-oneCol,
.wp-block-gallery.has-nested-images.is-style-tiled
	figure.is-style-oneCol:not(#individual-image) {
	width: calc(100% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667);
}

.wp-block-image.is-style-twoCol,
.wp-block-gallery.has-nested-images.is-style-tiled
	figure.is-style-twoCol:not(#individual-image) {
	width: calc(50% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667);
}

.wp-block-image.is-style-threeCol,
.wp-block-gallery.has-nested-images.is-style-tiled
	figure.is-style-threeCol:not(#individual-image) {
	width: calc(
		33.3333% - var(--wp--style--unstable-gallery-gap, 16px) * 0.66667
	);
}
