.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

article.project .entry-content [data-media-player] {
	max-width: 1920px;
}

a.event-featured-image img,
a.project-featured-image img,
a.fluidbox img,
.wp-block-image a img,
.gallery a img {
	float: left;
	object-fit: cover;
	min-height: 100%;
	opacity: 1;
	transition: all 150ms ease-out;
}

a.event-featured-image:hover,
a.project-featured-image:hover,
a.fluidbox:hover,
.wp-block-image a:hover,
.gallery a:hover {
	background-color: var(--hover-color);
}

a.event-featured-image:hover img,
a.project-featured-image:hover img,
a.fluidbox:hover img,
.wp-block-image a:hover img,
.gallery a:hover img {
	opacity: 0.8;
	box-shadow: var(--shadows);
}
