aside {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

body.page-template-contact main article .entry-content {
	padding-left: 1.5em;
}

body.page-template-contact main article .contact-links {
	display: flex;
	flex-flow: row wrap;

	.link-block {
		flex-grow: 1;
	}
}

body.search .site-content main > article {
	padding: 0.5rem 0;
}

@include breakpoint(lg) {
	body #page {
		display: flex;
		flex-flow: row nowrap;
	}

	#page header.site-header,
	#page #content {
		max-height: 100vh;
		overflow-y: auto;
		@include scrollbars(0.5rem, var(--component-bg-color), var(--bg-color));
	}

	#page #content {
		padding-left: 1rem;
	}


	aside {
		position: absolute;
		padding: 0;
		top: 0;
		right: 0;
		width: auto;
		justify-content: flex-end;
		background: var(--bg-color);
		z-index: 2;
	}

	#content {
		flex: 1 1 80%;
	}

	#content.site-content footer.site-footer .wrapper {
		margin-left: 0;
	}

	.site-title,
	body.page main .entry-header .entry-title,
	body.hfeed main .entry-header .entry-title,
	body.error404 main .entry-header .entry-title,
	main article.project .entry-header .project-title,
	main article.event .entry-header .event-title,
	main article.post .entry-header .entry-title,
	main > header.entry-header .entry-title {
		margin: 0;
		padding: 1.5em 0;
		font-size: 2em;
		line-height: 0.85;
	}

	body.page main .entry-header .entry-title,
	body.hfeed main .entry-header .entry-title,
	body.error404 main .entry-header .entry-title,
	main article.project .entry-header .project-title,
	main article.event .entry-header .event-title,
	main article.post .entry-header .entry-title,
	main > header.entry-header .entry-title {
		font-style: italic;
		font-weight: 700;
	}

	.site-title a {
		margin-bottom: 2px;
	}

	body.page-template-homepage main .entry-header,
	body.page-template-events main .entry-header,
	body.page-template-contact main .entry-header,
	body.page-template-gif-page main .entry-header,
	body.page-template-default main .entry-header,
	body.search main > .entry-header,
	body.error404 main .entry-header,
	body.hfeed main .page-header,
	body.single-post main article.post .entry-header,
	body.single-project main > article .entry-header,
	body.single-event main > article .entry-header {
		max-width: 60%;
	}

	div.content-area main article.event .entry-content .event-texts,
	div.content-area main article.project .entry-content .project-texts,
	body.page-template-default main .entry-content,
	body.page-template-events main .entry-content,
	body.page-template-contact main .entry-content,
	body.page-template-homepage main .entry-content,
	body.post main .entry-content,
	body.page main .entry-content,
	body.error404 main .entry-content,
	body.page-template-contact main article .entry-content,
	section main {
		max-width: 1920px;
		padding-right: 5rem;
	}

	footer.site-footer .site-info {
		text-align: center;
	}

	.entry-content {
		min-height: 60vh;
	}

	body.page-template-contact main article .entry-content {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;

		.contact-links,
		form.contact {
			flex-grow: 1;
		}
	}

	body main article .entry-content > p,
	body main article .entry-content > pre,
	body main article .entry-content > blockquote,
	body main article .entry-content > em,
	body main article .entry-content > ul,
	div.content-area main article.event .entry-content .event-texts > p,
	div.content-area main article.project .entry-content .project-texts > p {
		max-width: 80%;
	}
}
