aside {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
body.page-template-homepage main .entry-content {
    padding-top: 1.5rem;
}
body.page-template-contact main article .contact-links {
    display: flex;
    flex-flow: row wrap;

    .link-block {
        flex-grow: 1;
    }
}

body.page-template-homepage main .entry-content > article,
body.page-template-events main ul.year-events-list li article,
body.search .site-content main > article {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
}
body.search .site-content main > article {
    padding: 0.5rem 1.5rem;
}
@include breakpoint(lg) {
    aside {
        position: absolute;
        padding: 0;
        top: 0;
        right: 0;
        width: auto;
        justify-content: flex-end;
        z-index: 2;
    }
    #content.site-content {
        margin-left: 16%;
        padding-right: 1rem;
    }
    body.page .site-content .entry-content,
    body.error404 main .page-content,
    body.hfeed main .entry-content,
    #content.site-content .project-texts,
    #content.site-content .event-texts,
    #content.site-content article.page .entry-content,
    #content.site-content footer.site-footer .wrapper,
    body.page-template-gif-page .site-content main,
    body.search .site-content main,
    body.hfeed .site-content main,
    section main {
        max-width: 1280px;
    }

    #content.site-content footer.site-footer .wrapper {
        margin-left: 0;
    }
    .site-title,
    body.page main .entry-header .entry-title,
    body.hfeed main .entry-header .entry-title,
    body.error404 main .entry-header .entry-title,
    main article.project .entry-header .project-title,
    main article.event .entry-header .event-title,
    main > header.entry-header .entry-title {
        margin: 0;
        padding: 0.2em 0;
    }

    body.page main .entry-header,
    body.page main .entry-content,
    body.search main > .entry-header,
    body.error404 main .entry-header .entry-title,
    body.hfeed main > .entry-header .entry-title,
    div.content-area main article.project .entry-header,
    body.hfeed main .entry-content,
    div.content-area main article.project .entry-content .project-texts,
    div.content-area main article.event .entry-header,
    div.content-area main article.event .entry-content .event-texts,
    footer.site-footer {
        padding: 0 2rem;
    }

    body.page-template-homepage main .entry-header,
    body.page-template-events main .entry-header,
    body.page-template-contact main .entry-header,
    body.page-template-gif-page main .entry-header,
    body.page-template-default main .entry-header,
    body.search main > .entry-header,
    body.error404 main .entry-header,
    body.hfeed main .page-header,
    body.single-project main > article .entry-header,
    body.single-event main > article .entry-header {
        box-shadow: inset 0.5rem 0 0 var(--border-color);
        max-width: 60%;
    }

    div.content-area main article.event .entry-content .event-texts,
    div.content-area main article.project .entry-content .project-texts,
    body.page-template-default main .entry-content,
    body.page-template-events main .entry-content,
    body.page-template-contact main .entry-content,
    body.page-template-homepage main .entry-content,
    body.error404 main .entry-content,
    section main {
        padding-top: 0.5rem;
        box-shadow: inset 0.05rem 0 0 var(--border-color);
    }

    footer.site-footer .site-info {
        text-align: center;
    }
    .entry-content {
        min-height: 60vh;
    }
    body.page-template-contact main article .entry-content {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        .contact-links,
        form.contact {
            flex-grow: 1;
        }
    }
}
