@include breakpoint(lg) {
    #content.site-content {
        margin-left: 16%;
        padding-right: 1rem;
    }
    body.page .site-content .entry-content,
    #content.site-content .project-texts,
    #content.site-content .event-texts,
    #content.site-content article.page  .entry-content,
    #content.site-content footer.site-footer {
        max-width: 1080px;
    }
}