.widget-area {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	@include breakpoint(sm) {
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
	}

	width: 100%;

	section {
		@include breakpoint(sm) {
			flex: 1 0 auto;
		}

		text-align: center;
	}
}
