:root[data-theme="light"] {
	--primary-color: #282c36;
	--text-color: #08090a;
	--focus-color: #4b4e61;
	--hover-color: #029357;
	--bg-color: #f3f3f3;
	--component-bg-color: #eeeeee;
	--border-color: #e5dee8;
	--shadows: 0 0 1em 0.5em rgba(0, 0, 0, 0.15);
}

:root[data-theme="dark"] {
	--primary-color: #e4ebf7;
	--text-color: #e2e7ef;
	--focus-color: #5cacfb;
	--hover-color: #65ffba;
	--bg-color: #21252e;
	--component-bg-color: #272d3c;
	--border-color: #2e3f4d;
	--shadows: 0 0 2em 0 rgb(0 0 0);
}

::placeholder {
	color: var(--text-color);
}

::selection {
	color: var(--bg-color);
	background-color: var(--hover-color);
}
