body {
    color: var(--text-color);
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
}

body[data-theme="light"]  #page {
    background: url(./build/img/exclusive-paper.png) repeat;
}

body[data-theme="dark"] #page {
    background: url(./build/img/maze-black.png) repeat;
}
