body {
    color: var(--text-color);
    box-sizing: border-box;
}

body,
body ul.sub-menu {
    background: var(--bg-color);
}

body #page {
    background: url(./build/img/fabric-1-light.png) repeat;
}

body[data-theme="dark"] #page {
    background: url(./build/img/fabric-1-dark.png) repeat;
}
