@use "../../abstracts/mixins/mixins" as m;

body {
	color: var(--text-color);
	box-sizing: border-box;
}

body {
	@include m.scrollbars(0.5rem, var(--component-bg-color), var(--bg-color));
}

body.admin-bar #page {
	position: relative;
}
