button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.page-nav a,
.page-nav span,
.btn,
.button,
.social-sharing-module a {
    background: transparent;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

main button,
main input[type='button'],
main input[type='reset'],
main input[type='submit'],
main nav.page-nav a,
main nav.page-nav span,
main .btn,
main .button,
main .social-sharing-module a {
    margin-bottom: 1em;
    background-color: var(--component-bg-color);

    &:hover {
        //color: var(--text-color);
        border-color: var(--hover-color);
        & svg {
            fill: var(--hover-color);
        }
    }
}

.btn,
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
main nav.page-nav a,
main nav.page-nav span {
    @include border;

    &:hover {
        background: var(--hover-color);
        color: var(--component-bg-color);
        & svg {
            fill: var(--hover-color);
        }
    }
    &[data-toggle]:hover svg {
        fill: var(--bg-color);
    }

    &:active,
    &:focus {
        @include border;
        // background: var(--bg-color);
    }
}

.btn,
.button,
button {
    &:hover {
        color: var(--bg-color);
    }
}

.page-nav a,
.page-nav span,
.social-sharing-module a {
    background: transparent;
}

a.btn,
a.button,
.page-nav a,
.page-nav span,
.social-sharing-module a,
button[data-toggle] {
    margin: 0.25em;
    @include border;
    text-decoration: none;
}

.page-nav span,
button[data-toggle].active {
    opacity: 0.75;
}

.social-sharing-module > ul {
    display: flex;
    flex-flow: row wrap;
}
main nav.page-nav {
    text-align: right;
}
main .entry-content p .button,
span.input button {
    float: right;
}
main .entry-content p .button {
    @include clearfix;
}
