button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.page-nav a,
.page-nav span,
.btn,
.button,
.social-sharing-module a {
    background: transparent;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

main button,
main input[type="button"],
main input[type="reset"],
main input[type="submit"],
main nav.page-nav a,
main nav.page-nav span,
main .btn,
main .button,
main .social-sharing-module a,
main .contact-links ul li a {
    margin-bottom: 1em;

    &:hover {
        //color: var(--text-color);
        @include border("bottom", --hover-color);
        & svg {
            fill: var(--hover-color);
        }
    }
}

.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
main nav.page-nav a,
main nav.page-nav span {
    border: none;
    @include border("bottom", --border-color);

    &.active,
    &:active,
    &:hover,
    &:focus {
        border-color: var(--hover-color);
        svg {
            fill: var(--hover-color);
        }
    }
}

form.search-form button.search-submit {
    border: none;
}

.page-nav a,
.page-nav span,
.social-sharing-module a {
    background: transparent;
}

a.btn,
a.button,
.page-nav a,
.page-nav span,
.social-sharing-module a,
button[data-toggle] {
    margin: 0.25em;
    @include border("bottom", --border-color);
    text-decoration: none;
}

.page-nav span.page-numbers.current,
button[data-toggle].active {
    color: var(--primary-color);
    @include border("bottom", --hover-color);
}

main .contact-links ul.works li a {
    padding: 1em 1.25em 1em 0.75em;
    margin-bottom: 0.25rem;
}

main .contact-links ul.networks li a {
    padding: 0.5em 0.75em 0.5em 0.75em;
    margin-bottom: 0.75rem;
}

main .contact-links ul li a {
    display: inline-flex;
    align-items: center;
    width: auto;
    background-color: var(--component-bg-color);
    text-decoration: none;
    opacity: 1;
    border-bottom: 2px solid var(--border-color);

    img,
    svg {
        margin-right: 0.5rem;
    }
    &:hover {
        opacity: 0.75;
        border-bottom: 2px solid var(--hover-color);
    }
}

.social-sharing-module > ul {
    display: flex;
    flex-flow: row wrap;
}
main nav.page-nav {
    text-align: right;
}
main .entry-content p .button,
span.input button {
    float: right;
}
main .entry-content p .button {
    @include clearfix;
}
