input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
    color: var(--text-color);
    @include border;

    border-radius: 3px;
    padding: 3px;

    //color: var(--text-color);
    background-color: var(--bg-color);

    &:focus {
        color: var(--focus-color);
    }
}

select {
    @include border;
}

textarea {
    width: 100%;
}

ul.menu form#searchform input#s {
    @include breakpoint(md) {
        padding: 0.5em;
    }
    max-width: 100%;
}

input,
textarea {
    outline: none;
    @include border;
    &:focus {
        border-color: var(--hover-color);
    }
}

input,
button {
    cursor: pointer;
}

ul.sub-menu li button {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 1.4rem;
    margin: 0.25em 0.2rem;
}
.mode-switcher {
    vertical-align: middle;
}
.mode-switcher svg {
    font-size: 2rem;
    margin: 0 0.25rem;
}
/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    @include border;
}

.slider:before {
    position: absolute;
    content: '';
    height: 1rem;
    width: 1rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: var(--border-color);
    transition: 0.4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--hover-color);
}

input:checked + .slider:before {
    transform: translateX(1rem);
}
