footer.site-footer .wrapper {
    padding: 1em 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include border('top');
}

footer .site-info {
    @include breakpoint(md) {
        text-align: right;
    }
}
