@use "../../abstracts/mixins/mixins" as m;

footer.site-footer .wrapper {
	@include m.border("top");
}

footer.site-footer .wrapper p {
	margin-bottom: 0;
}

.site-info {
	font-size: 0.85em;
	text-align: center;
	@include m.breakpoint("md") {
		text-align: left;
	}
}
