.site-header div.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px double var(--border-color);

    @include breakpoint(md) {
        flex-flow: column nowrap;
    }

    @include breakpoint(lg) {
        flex-flow: row nowrap;

        .site-title {
            padding: 0.3em 0.3em 0.3em 0;
            margin: 0;
        }
    }

    .site-title a {
        text-decoration: none;
    }
    .site-title a span {
        margin-right: 0.25em;
        @include breakpoint(lg) {
            display: block;
            margin-right: 0;
        }
    }
}
