.site-header div.wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 5px double var(--border-color);

    @include breakpoint(md) {
        flex-flow: column nowrap;

        aside {
            align-self: end;
        }
    }

    @include breakpoint(lg) {
        display: block;
        position: fixed;
        width: 15%;

        .site-title {
            padding: 0.3em 0.3em 0.3em 0;
            margin: 0;
        }
    }
    @include breakpoint(lg) {
        .site-title {
            margin-bottom: 1.25rem;
            padding-left: 0.6rem;
        }
    }

    .site-title a {
        text-decoration: none;
    }
}

