.site-header {
    position: relative;
    @include breakpoint(lg) {
        position: fixed;
        width: 15%;
        padding-right: 1rem;
        height: 100vh;
        overflow-y: auto;

    }
}

.site-header div.wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 5px double var(--border-color);

    @include breakpoint(md) {
        flex-flow: column nowrap;
    }
    @include breakpoint(lg) {
        .site-title,
        aside {
            margin: 0 0 0 0.8rem;
        }
    }

    .site-title a {
        text-decoration: none;
    }    
}

.site-title,
body.page main .entry-header .entry-title, 
main article.project .entry-header .project-title,
main article.event .entry-header .event-title {
    margin: 0;
    padding: 0.2em 0;
    @include border('bottom', --border-color);
}