@use "../../abstracts/mixins/mixins" as m;

.site-header {
	position: relative;

	@include m.breakpoint(lg) {
		flex: 2 0 20%;
		max-width: 20%;
		border-bottom: none;

		background: linear-gradient(
			45deg,
			var(--bg-color),
			var(--component-bg-color)
		);
		background-attachment: fixed;
		@include m.border("right");
	}
}

.site-header div.wrapper {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 0 auto;

	@include m.border("bottom");

	@include m.breakpoint(lg) {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: flex-start;
		flex-flow: column nowrap;
		border-bottom: none;

		.site-title,
		aside {
			padding-left: 1.5rem;
		}
	}

	.site-title a {
		text-decoration: none;
		font-weight: 700;
		color: var(--hover-color);
		opacity: 1;

		&:hover,
		&:focus {
			color: var(--hover-color);
		}
	}
}
