@use "../../abstracts/mixins/mixins" as m;

.site-header {
	position: relative;

	@include m.breakpoint(lg) {
		flex: 2 0 20%;
		max-width: 20%;
		border-bottom: none;
	}
}

.site-header div.wrapper {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 0 auto;

	@include m.breakpoint(lg) {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: flex-start;
		flex-flow: column nowrap;

		.site-title,
		aside {
			padding-left: 0.4rem;
		}
	}

	.site-title a {
		text-decoration: none;
		opacity: 1;
		color: inherit;
		letter-spacing: -0.06em;
		font-weight: 300;

		&:hover,
		&:focus {
			color: var(--hover-color);
		}
	}
}
