a {
	color: var(--primary-color);
	transition: color 300ms ease-out;

	&:visited {
		color: var(--primary-color);
	}

	&:hover,
	&:focus,
	&:active {
		color: var(--hover-color);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
