ul,
ol {
	padding: 0;
	margin: 0 0 1em 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1em 1em;
}

ul {
	list-style-type: square;

	ul {
		list-style: disc;

		ul {
			list-style: circle;
		}
	}
}

.contact-links ul {
	list-style-type: none;
	margin-left: 0;
}
